@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paleta-cor-1: #153448;
    --paleta-cor-2: #3C5B6F;
    --paleta-cor-3: #948979;
    --paleta-cor-4: #DFD0B8;
    --paleta-cor-5: #C40C0C;
    --paleta-cor-6: #FF6500;
    --paleta-cor-7: #FF8A08;
    --paleta-cor-8: #FFC100;
    --paleta-cor-9: #4793AF;
    --paleta-cor-10: #FFC470;
    --paleta-cor-11: #DD5746;
    --paleta-cor-12: #8B322C;
    --fonte-principal: "Montserrat", sans-serif;
    --cor-fonte: #DFD0B8;
    --cor-fonte-1: WHITE;
    --cor-fonte-2: BLACK;
    --cor-fonte-botao: white;
    --cor-fundo-main: #948979;
    --cor-fundo-exercicio: #3C5B6F;
    --cor-fundo-select: #DFD0B8;
    --cor-fundo-input-reps1: white;
    --cor-fundo-input-reps2: #FFC100;
    --cor-fundo-input-kg: #FFC100;
    --cor-fundo-input-rpe1: #FF6500;
    --cor-fundo-input-rpe2: #C40C0C;
    --cor-fundo-botao: #153448;
    
}

body {
    margin: 0.5em;
}

.main__treino-blank {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo-main);
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    padding-bottom: 1em;
}

.main__index {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.ancora_index {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 2em;
    color: var(--paleta-cor-11);
}

::placeholder {
    color: var(--cor-fonte-2);
}

.cabecalho {
    display: flex;
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 10px;
}

.back-to-index {
    text-decoration: none;
    text-align: right;
    margin: 1em 1.2em 0 0;
    color: var(--cor-fonte);
}

/* .print-button {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    background-color: var(--cor-fundo-botao);
    border-radius: 4px;
    width: 50%;
    height: 30px;
    margin: 1em auto 1em auto;
} */

/* .titulo__semana-dia {
    display: flex;
    gap: 0.1em;
    align-items: center;
    justify-content: center;
    color: var(--paleta-cor-8);
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    padding: 1.5em 1em;
} */

/* .titulo__semana {
    display: block;
    background-color: var(--cor-fundo-main);
    border: none;
    width: 28px;
    height: 28px;
    resize: none;
    color: var(--paleta-cor-8);
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    padding: 0.2em;
} */

/* .titulo__dia {
    display: block;
    background-color: var(--cor-fundo-main);
    border: none;
    width: 28px;
    height: 28px;
    resize: none;
    color: var(--paleta-cor-8);
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    padding: 0.2em;
} */

.titulo-do-treino {
    display: block;
    background-color: var(--cor-fundo-main);
    border: none;
    resize: none;
    width: 90%;
    height: 20px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-2);
    font-weight: 500;
    font-size: 1.1em;
    margin: 1em 0.5em 0.5em 1em;
    padding: 0.2em;
}

.treino__obs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    width: 92.5%; /* Define a largura do textarea */
    height: 50px; /* Define a altura do textarea */
    resize: none; /* Impede o redimensionamento do textarea */
}

.exercicio-n {
    background-color: var(--cor-fundo-exercicio);
    border-radius: 4px;
    margin: 1.1em 0.5em 0 0.5em;
    padding-bottom: 1.1em;
    color: var(--cor-fonte-1);
}

.lista__nome-do-exercicio__item {
    display: grid;
    grid-template-columns: 5% 95%;
    margin: 1em 0.5em 0.5em 1em;
    align-items: center;
}

.lista__nome-do-exercicio__numero {
    color: var(--paleta-cor-6);
    font-weight: 600;
}

.exercicio__nome {
    display: block;
    background-color: var(--cor-fundo-exercicio);
    border: none;
    margin-right: auto;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-fonte);
    width: 95%; /* Define a largura do textarea */
    height: 18px; /* Define a altura do textarea */
    resize: none; /* Impede o redimensionamento do textarea */
}

.exercicio__obs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    width: 90%; /* Define a largura do textarea */
    height: 50px; /* Define a altura do textarea */
    resize: none; /* Impede o redimensionamento do textarea */
}


.lista__primeira-linha {
    display: grid;
    grid-template-columns: 11% 35% 14% 35% 4%;
    margin: 1em 0.5em 0.5em 0.5em;
    text-align: center;
    align-items: center;
}

select {
    background-color: var(--cor-fundo-select);
    text-align: left;
    height: 40px;
    width: 82%;
    text-wrap: wrap;
    padding: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 1px 1px 1px black;
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
}

.select-kg {
    width: 95%;
}

.lista__aquecimento__w {
    color: var(--paleta-cor-7);
}

.remove-list-button {
    background-color: none;
    background: none;
    border: none;
}

.trash-img {
    width: 11px;
}

.lista__segunda-linha, .lista__aquecimento {
    display: grid;
    grid-template-columns: 11% 35% 14% 35% 4%;
    margin: 0.4em 0.5em;
    align-items: center;
}

.lista__segunda-linha__item, .lista__aquecimento__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista__segunda-linha__input, .lista__aquecimento__input {
    text-align: center;
    width: 35%;
    padding: 0.3em 0.1em;
    border-radius: 4px;
    border: none;
    margin: 0.1em;
    font-family: var(--fonte-principal);
}



.input-unico {
    width: 50%;
}

.input-reps1, .input-reps2 {
    background-color: var(--cor-fundo-input-reps1);
}

.input-kg {
    width: 90%;
    border: none;
    color: var(--cor-fonte-2);
    background-color: var(--cor-fundo-input-kg);
}

.input-rpe1 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe1);
}

.input-rpe2 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe2);
}

.set-buttons {
    display: flex;
    justify-content: center;
}

.add-button, .undo-button, .add-w-button {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    font-size: 0.9em;
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin: 1em 0.3em;
}

.add-w-button {
    color: var(--paleta-cor-7);
}

.export-buttons {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.5em 0.5em 0.5em;
}

.export-whatsapp-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin: 0 0.5em 0 auto;
    background-color: transparent;
}

.whatsapp-img {
    width: 40px;
}

.new-session-button, .remove-session-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 50%;
    height: 35px;
    margin: 1em auto 1em auto;
    text-align: center;
}

@media (min-width: 700px) {
    .main__treino-blank {
        width: 70%;
        margin: auto;
    }

    select {
        width: 80%;
    }
    
    .select-kg {
        width: 95%;
    }

    .input-unico {
        width: 78%;
    }

    .new-session-button, .remove-session-button {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    .main__treino-blank {
        width: 50%;
        margin: auto;
    }

    select {
        width: 78%;
    }
    
    .select-kg {
        width: 93%;
    }

    .input-unico {
        width: 77%;
    }

    .new-session-button, .remove-session-button {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    .main__treino-blank {
        width: 35%;
        margin: auto;
    }

    .input-unico {
        width: 76.5%;
    }

    .new-session-button, .remove-session-button {
        width: 20%;
    }
}

@media (min-width: 1680px) {
    .main__treino-blank {
        width: 30%;
        margin: auto;
    }

    .new-session-button, .remove-session-button {
        width: 17%;
    }
}

@media (min-width: 1920px) {
    .main__treino-blank {
        width: 25%;
        margin: auto;
    }

    select {
        width: 79%;
    }
    
    .select-kg {
        width: 95%;
    }

    .new-session-button, .remove-session-button {
        width: 12%;
    }
}

@media (min-width: 2560px) {
    .main__treino-blank {
        width: 19%;
        margin: auto;
    }

    .new-session-button, .remove-session-button {
        width: 10%;
    }
}

@media (min-width: 3370px) {
    .main__treino-blank {
        width: 15%;
        margin: auto;
    }

    .input-unico {
        width: 76%;
    }

    select {
        width: 78%;
    }
    
    .select-kg {
        width: 93%;
    }

    .new-session-button, .remove-session-button {
        width: 8%;
    }
}