@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paleta-cor-1: #404258;
    --paleta-cor-2: #474E68;
    --paleta-cor-3: #50577A;
    --paleta-cor-4: #6B728E;
    --paleta-cor-5: #C40C0C;
    --paleta-cor-6: #FF6500;
    --paleta-cor-7: #FF8A08;
    --paleta-cor-8: #FFC100;
    --paleta-cor-9: #00224D;
    --paleta-cor-10: #5D0E41;
    --paleta-cor-11: #A0153E;
    --paleta-cor-12: #FF204E;
    --paleta-cor-13: #EFBC9B;
    --paleta-cor-14: #FBF3D5;
    --paleta-cor-15: #D6DAC8;
    --paleta-cor-16: #9CAFAA;

    --fonte-principal: "Montserrat", sans-serif;
    --cor-fonte: #DFD0B8;
    --cor-fonte-1: WHITE;
    --cor-fonte-2: BLACK;
    --cor-fonte-botao: white;
    --cor-fonte-placeholder: rgb(255, 255, 255);
    --cor-fonte-menu-link: black;
    --cor-fundo-treino-body: #bdbec5;
    --cor-fundo-main: #bdbec5;
    --cor-fundo-exercicio: #474E68;
    --cor-fundo-select: #DFD0B8;
    --cor-fundo-treino-obs: #474E68;
    --cor-fundo-exercicio-obs: #50577A;
    --cor-fundo-input-reps1: #D6DAC8;
    --cor-fundo-input-reps2: #D6DAC8;
    --cor-fundo-input-kg: #FFC100;
    --cor-fundo-input-rpe1: #FF8A08;
    --cor-fundo-input-rpe2: #c42e2e;
    --cor-fundo-botao: #153448;
    --cor-fundo-menu-exercicio: #6B728E;
    --cor-fundo-rodape: #153448;

    --cor-input-checkbox-fundo: white;
    --cor-input-checkbox-border: gray;
    --cor-input-checkbox-fundo-ckecked: gray;
    --cor-input-checkbox-border-ckecked: black;
    --cor-input-checkbox-check: black;
    
}

.treino-body {
    background-color: var(--cor-fundo-treino-body);
    margin: 0.5em;
}

.main__treino-blank {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo-main);
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    font-weight: 400;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding-bottom: 1em;
}


::placeholder {
    color: var(--cor-fonte-placeholder);
}



input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 19px;
    height: 19px;
    background-color: var(--cor-input-checkbox-fundo);
    border: 1px solid var(--cor-input-checkbox-border);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--cor-input-checkbox-fundo-ckecked); /* Cor de fundo quando marcado */
    border: 1px solid var(--cor-input-checkbox-border-ckecked);
}
  
input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 12px;
    color: var(--cor-input-checkbox-check); /* Mudança da cor do check para contraste */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.export-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 1em 0.2em;
}

.export-whatsapp, .export-excel, .save-html, .import-excel, .load-html {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-fonte-botao);
    background-color: var(--cor-fundo-botao);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 33%;
    height: 40px;
}

.import-excel, .load-html {
    color: var(--cor-fonte-botao);
    background-color: var(--paleta-cor-11);
}

.lista__titulo-do-treino__item{
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    margin-bottom: 0.5em;
}

.titulo-do-treino {
    text-transform: uppercase;
    display: block;
    background-color: var(--cor-fundo-main);
    border: none;
    resize: none;
    width: 94%;
    height: 20px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-2);
    font-weight: 500;
    font-size: 1.1em;
    margin: 0.5em 0.5em 0 0.5em;
    padding: 0.2em;
}

.contador {
    font-size: 0.7em;
    color: var(--cor-fonte-1);
    margin: 0.5em 0 0 1em;
}

.logo-treino-blank {
    width: 50px;
}

.treino__obs {
    background-color: var(--cor-fundo-treino-obs);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border: 0px;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    width: 92%;
    overflow: hidden;
    resize: none;
}

.exercicio-n {
    background-color: var(--cor-fundo-exercicio);
    border-radius: 4px;
    margin: 1.1em 0.5em 0.5em 0.5em;
    padding-bottom: 1.1em;
    color: var(--cor-fonte-1);
}

.lista__nome-do-exercicio__item {
    position: relative;
    display: grid;
    grid-template-columns: 5% 88% 5%;
    margin: 1em 0.5em 0.5em 1em;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu-hamburguer {
    font-size: 1.5em;
}

.lista-menu {
    background-color: var(--cor-fundo-menu-exercicio);
    text-align: left;
    display: none; /* faz desaparecer a lista */
    position: absolute;
    padding: 0.5em 0;
    top: 100%; /* retirou ??% do menu de cima do checkbox */
    width: 170px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    z-index: 1;
    right: 0;
}

.lista-menu__item {
    display: flex;
    align-items: center;
    margin: 0em 0.8em;
    padding: 0.5em 0;
    gap: 10px;
}

.youtube-button {
    font-family: var(--fonte-principal);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: var(--cor-fonte);
    background-color: var(--paleta-cor-5);
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 25px;
    padding-bottom: 1.4em;
}

.clock-button {
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-8);
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 31px;
    margin-top: 0.5em;
}

.lista-menu__youtube-link, .lista-menu__clock-link {
    font-family: var(--fonte-principal);
    text-decoration: none;
    color: var(--cor-fonte-menu-link);
    font-size: 0.8em;
    font-weight: 500;
}

.lista-menu__clock-link {
    margin-top: 0.5em;
}

.container__botao:checked~.lista-menu { /* condicional "se .container__botao estiver marcado (.container__botao:checked), então (~), .lista-menu aparece (display: block)" */
    display: block;
}

.container__botao {
    display: none;
    position: relative;
}

.lista__nome-do-exercicio__numero {
    font-size: 1em;
    color: var(--paleta-cor-6);
    font-weight: 600;
}

.exercicio__nome {
    padding-top: 0.35em;
    text-transform: uppercase;
    display: block;
    background-color: var(--cor-fundo-exercicio);
    border: none;
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--cor-fonte-1);
    width: 97%; 
    height: 20px;
    resize: none; /* Impede o redimensionamento do textarea */
    overflow: hidden;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.exercicio__obs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    background-color: var(--cor-fundo-exercicio-obs);
    padding: 0.5em;
    border: 0px;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    width: 90%;
    overflow: hidden;
    resize: none;
}


.lista__primeira-linha {
    display: grid;
    grid-template-columns: 8% 35% 14% 35% 8%;
    margin: 1em 0.5em 0.5em 0.5em;
    text-align: center;
    align-items: center;
}

select {
    background-color: var(--cor-fundo-select);
    text-align: left;
    height: 40px;
    width: 82%;
    text-wrap: wrap;
    padding: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 1px 1px 1px black;
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
}

.select-kg {
    width: 95%;
}

.lista__aquecimento__w {
    color: var(--paleta-cor-7);
}

.remove-list-button {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
}

.trash-img {
    width: 13px;
}

.lista__segunda-linha, .lista__aquecimento {
    display: grid;
    grid-template-columns: 8% 35% 14% 35% 8%;
    margin: 0.4em 0.5em;
    align-items: center;
}

.lista__segunda-linha__item, .lista__aquecimento__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista__segunda-linha__input, .lista__aquecimento__input {
    text-align: center;
    width: 35%;
    padding: 0.3em 0.1em;
    border-radius: 4px;
    border: none;
    margin: 0.1em;
    font-family: var(--fonte-principal);
}

.input-reps1, .input-reps2 {
    background-color: var(--cor-fundo-input-reps1);
}

.input-kg {
    width: 90%;
    border: none;
    color: var(--cor-fonte-2);
    background-color: var(--cor-fundo-input-kg);
}

.input-rpe1 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe1);
}

.input-rpe2 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe2);
}

.esmaecido {
    opacity: 0.3; /* ou qualquer outro valor que desejar para esmaecer */
}

.set-buttons {
    display: flex;
    justify-content: center;
}

.add-button, .undo-button, .add-w-button {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    font-size: 0.9em;
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin: 1em 0.3em;
}

.add-w-button {
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-6);
}

.session-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1.3em 1em 15em 1em;
    gap: 15px;
}

.new-session-button, .remove-session-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 50%;
    height: 30px;
    text-align: center;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 96%;
    background-color: var(--cor-fundo-rodape);
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.timer-org {
    display: grid;
    grid-template-columns: 46% 46% 10%;
    text-align: center;
    margin: 0.5em 0;
}

.timer-container {
    display: none;
    text-align: center;
}

.timer-container__item {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-fonte-1);
    background-color: var(--paleta-cor-4);
    width: 90%;
    height: 30px;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0.3em;
}

.start-button, .reset-button {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-fonte-1);
    background-color: var(--paleta-cor-11);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 43.6%;
    height: 25px;
    margin-top: 0.3em;
}

.esc-clock-button {
    display: none;
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    font-weight: 700;
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-6);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 20px;
    height: 20px;
    padding: 0 0 1px 0;
}

.timer {
    display: none;
    font-size: 2em;
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--paleta-cor-9);
    padding-top: 1em;
    background-color: var(--paleta-cor-8);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    height: 65px;
    width: 80%;
    place-self: center;
}

.rodape-back-to-index {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-1);
    text-decoration: none;
    margin-bottom: 1.5em;
}

sup {
    color: var(--paleta-cor-5);
    vertical-align: super;
    font-size: smaller;
}


@media (min-width: 700px) {
    .cabecalho {
        width: 60%;
        margin: auto;
    }

    .main__treino-blank {
        width: 60%;
        margin: auto;
    }

    select {
        width: 80%;
    }
    
    .select-kg {
        width: 95%;
    }

    .rodape {
        width: 97.7%;
    }
}

@media (min-width: 1024px) {
    .cabecalho {
        width: 42%;
        margin: auto;
    }

    .main__treino-blank {
        width: 42%;
        margin: auto;
    }

    select {
        width: 80.4%;
    }
    
    .select-kg {
        width: 93%;
    }

    .rodape {
        width: 98.2%;
    }
}

@media (min-width: 1440px) {
    .cabecalho {
        width: 30%;
        margin: auto;
    }
    
    .main__treino-blank {
        width: 30%;
        margin: auto;
    }

    .rodape {
        width: 98.7%;
    }
}

@media (min-width: 1680px) {
    .cabecalho {
        width: 25%;
        margin: auto;
    }
    
    .main__treino-blank {
        width: 25%;
        margin: auto;
    }
    
    .rodape {
        width: 99%;
    }
}

@media (min-width: 1920px) {
    .cabecalho {
        width: 22%;
        margin: auto;
    }
    
    .main__treino-blank {
        width: 22%;
        margin: auto;
    }

    select {
        width: 79%;
    }
    
    .select-kg {
        width: 95%;
    }

    .rodape {
        width: 99.1%;
    }
}

@media (min-width: 2560px) {
    .cabecalho {
        width: 16%;
        margin: auto;
    }
    
    .main__treino-blank {
        width: 16%;
        margin: auto;
    }

    .rodape {
        width: 99.4%;
    }
}

@media (min-width: 3370px) {
    .cabecalho {
        width: 12.5%;
        margin: auto;
    }
    
    .main__treino-blank {
        width: 12.5%;
        margin: auto;
    }

    select {
        width: 79%;
    }
    
    .select-kg {
        width: 93%;
    }

    .rodape {
        width: 99.5%;
    }
}