@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paleta-cor-1: #404258;
    --paleta-cor-2: #474E68;
    --paleta-cor-3: #50577A;
    --paleta-cor-4: #6B728E;

    --paleta-cor-5: #C40C0C;
    --paleta-cor-6: #FF6500;
    --paleta-cor-7: #FF8A08;
    --paleta-cor-8: #FFC100;

    --paleta-cor-9: #00224D;
    --paleta-cor-10: #5D0E41;
    --paleta-cor-11: #A0153E;
    --paleta-cor-12: #FF204E;

    --paleta-cor-13: #EFBC9B;
    --paleta-cor-14: #FBF3D5;
    --paleta-cor-15: #D6DAC8;
    --paleta-cor-16: #9CAFAA;

    --paleta-cor-17: #6F4E37;
    --paleta-cor-18: #A67B5B;
    --paleta-cor-19: #ECB176;
    --paleta-cor-20: #FED8B1;

    --paleta-cor-21: #22092C;
    --paleta-cor-22: #872341;
    --paleta-cor-23: #BE3144;
    --paleta-cor-24: #F05941;


    --fonte-principal: "Montserrat", sans-serif;
    --cor-fonte: #DFD0B8;
    --cor-fonte-1: WHITE;
    --cor-fonte-2: BLACK;

    --cor-fundo-select: #DFD0B8;
    --cor-fonte-placeholder: rgb(255, 255, 255);


    --cor-fundo-treino-body: #6B728E;

    --cor-fundo-main: #6B728E;

    --cor-fundo-rodape: #153448;


    /* cores do card título da periodização */
    --cor-fundo-periodizacao: #404258;
    --cor-fundo-titulo-da-periodizacao: #404258;
    --cor-fonte-titulo-da-periodizacao: #FFC470;
    --cor-fundo-semana-dia:#404258;
    --cor-fonte-semana-dia:#F05941;
    --cor-fonte-semana-dia-paragrafo:#DFD0B8;
    --cor-fonte-anteriorProximo: #FFC470;

    /* cores do card título do treino */
    --cor-fundo-treino-info: #404258;
    --cor-fundo-titulo-do-treino: #404258;
    --cor-fonte-tituloDoTreino: #FFC470;
    --cor-fundo-treino-obs: #404258;
    
    /* cores do menu do card de exercícios */
    --cor-fonte-menu-link: black;
    --cor-fundo-menu-exercicio: #6B728E;
    --cor-gradiente-color-button:linear-gradient(to right, #22092C 0%, #22092C 25%, #872341 25%, #872341 50%, #BE3144 50%, #BE3144 75%, #F05941 75%, #F05941 100%); 
        
    /* cores do card de exercícios */
    --cor-fundo-sessao: #474E68;
    --cor-fundo-exercicio: #474E68;
    --cor-fundo-exercicio-obs: #474E68;

    --cor-fundo-input-reps1: #D6DAC8;
    --cor-fundo-input-reps2: #D6DAC8;
    --cor-fundo-input-kg: #FFC100;
    --cor-fundo-input-rpe1: #FF8A08;
    --cor-fundo-input-rpe2: #c42e2e;

    /* cores menu expImp */
    
    --cor-menuExpImp-span: #ECB176;
    --cor-menuExpImp-fundo: #6F4E37;
    --cor-botoes-menuExp-fundo: #FED8B1;
    --cor-botoes-menuEscArq-fundo: #ECB176;
    --cor-botoes-menuImp-fundo: #A67B5B;
    --cor-botoes-menuExp-fonte: black;
    --cor-botoes-menuImp-fonte: white;
    
    /* cores dos botões */
    --cor-fonte-botao: white;
    --cor-fundo-botao: #153448;
    --cor-fundo-escClockButton: #FFC100;
    --cor-fundo-startResetButton: #A0153E;
    --cor-fundo-botao-editButton: transparent;
    --cor-fonte-botao-editButton: #FF8A08;
 
    /* cores checkbox exercícios */
    --cor-input-checkbox-fundo: white;
    --cor-input-checkbox-border: gray;
    --cor-input-checkbox-fundo-ckecked: gray;
    --cor-input-checkbox-border-ckecked: black;
    --cor-input-checkbox-check: black;

}

.index-body {
    background-color: white;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
}

.div-logo-index {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    text-align: center;
}

.ancora_index {
    text-decoration: none;
    color: var(--cor-fonte-2);
    margin-top: 2em;
}

.logoGrafico-index {
    height: 115px;
}

.logo2-index {
    height: 120px;
}

.logo3-index {
    height: 105px;
}

.logo-index {
    height: 105px;
}

.martina {
    height: 105px;
}

.gabriela {
    height: 105px;
}

.titulo-index__treino-em-branco, .titulo-index__treino-extPpl4x, .titulo-index__treino-teTp4x, .titulo-index__treino-martina, .titulo-index__treino-gabriela {
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
}

.rodape-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 1em);
    background-color: var(--cor-fundo-rodape);
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.rodape-back-to-index {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-1);
    text-decoration: none;
    margin: 1em 0;
}

sup {
    color: var(--paleta-cor-5);
    vertical-align: super;
    font-size: smaller;
}


@media (min-width: 1024px) {
    .div-logo-index {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

@media (min-width: 2034px) {
    .div-logo-index {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 3044px) {
    .div-logo-index {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}