@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --paleta-cor-1: #872341;
    --paleta-cor-2: #BE3144;
    --paleta-cor-3: #F05941;
    --paleta-cor-4: #FFC470;
    --paleta-cor-5: #153448;
    --paleta-cor-6: #3C5B6F;
    --paleta-cor-7: #60738D;
    --paleta-cor-8: #948979;
    --paleta-cor-9: #DFD0B8;
    --paleta-cor-10: #9CAFAA;


    --fonte-principal: "Montserrat", sans-serif;
    --cor-fonte: #DFD0B8;
    --cor-fonte-1: WHITE;
    --cor-fonte-2: BLACK;

    --cor-fundo-select: #948979;
    --cor-fonte-placeholder: rgb(255, 255, 255);

    --cor-fundo-treino-body: #6B728E;

    --cor-fundo-main: #6B728E;

    /* cores do card título da periodização */
    --cor-fundo-periodizacao: #DFD0B8;
    --cor-fundo-titulo-da-periodizacao: #DFD0B8;
    --cor-fundo-semana-dia:#DFD0B8;
    --cor-fonte-titulo-da-periodizacao: #153448;
    --cor-fonte-semana-dia:#F05941;
    --cor-fonte-semana-dia-paragrafo:#153448;
    --cor-fonte-anteriorProximo: #F05941;

    /* cores do card título do treino */
    --cor-fundo-treino-info: #DFD0B8;
    --cor-fundo-titulo-do-treino: #DFD0B8;
    --cor-fonte-tituloDoTreino: #153448;
    --cor-fonte-obsDoTreino: #153448;
    --cor-fundo-treino-obs: #DFD0B8;

    /* card agrupamentos musculares */
    --cor-fonte-titulo-agrupMusc: #153448;
    --cor-fundo-agrupMusc:  #DFD0B8;
    --cor-fundo-preenchimento-textoInput: #DFD0B8;
    --cor-fundo-preenchimento-textoInput-border: 1px solid #153448;
    --cor-texto-agrupMusc: #153448;
    
    /* cores do menu do card de exercícios */
    --cor-menu-hamburguer: #F05941; 
    --cor-fonte-menu-link: black;
    --cor-fundo-menu-exercicio: #3C5B6F;
    --cor-fundo-youtube-button: #153448;
    --cor-fundo-clock-button: #153448;
    --cor-fundo-delete-button: #153448;
    --cor-gradiente-color-button:linear-gradient(to right, #22092C 0%, #22092C 25%, #872341 25%, #872341 50%, #BE3144 50%, #BE3144 75%, #F05941 75%, #F05941 100%); 
    --box-shadow-menu-botoes: 1px 1px 1px black;
    --box-shadow-lista-secButtons: 2px 2px 5px rgb(20, 19, 19); 
    
    /* cores do card de exercícios */
    --cor-fundo-sessao: #DFD0B8;
    --cor-fundo-exercicio: #DFD0B8;
    --cor-fundo-exercicio-obs: #DFD0B8;
    --cor-fundo-input-reps1: #948979;
    --cor-fundo-input-reps2: #948979;
    --cor-fundo-input-kg: #3C5B6F;
    --cor-fundo-input-rpe1: #153448;
    --cor-fundo-input-rpe2: #153448;

    /* cores menu expImp */
    --cor-menuExpImp-span: #F05941;
    --cor-menuExpImp-fundo: #153448;
    --cor-botoes-menuExp-fundo: #3C5B6F;
    --cor-botoes-menuEscArq-fundo: #948979;
    --cor-botoes-menuImp-fundo: #DFD0B8;
    --cor-botoes-menuExp-fonte: white;
    --cor-botoes-menuImp-fonte: black;
    
    /* cores dos botões */
    --cor-fonte-botao: black;
    --cor-fundo-botao: #9CAFAA;
    --cor-fundo-botao-editButton: transparent;
    --cor-fonte-botao-editButton: #F05941;
 
    /* cores checkbox exercícios */
    --cor-input-checkbox-fundo: white;
    --cor-input-checkbox-border: gray;
    --cor-input-checkbox-fundo-ckecked: #F05941;
    --cor-input-checkbox-border-ckecked: black;
    --cor-input-checkbox-check: black;

    /* Cores MusclePlan Logo */
    --logoMusclePlan-sobrescrito: black;

    /* Cores Rodapé e Timer*/
    --cor-fundo-rodape: #3C5B6F;
    --cor-fundo-timer: #F05941;
    --cor-fonte-timer: #DFD0B8;
    --cor-fundo-select: #9CAFAA;
    --cor-fundo-escClockButton: #9CAFAA;
    --cor-fundo-startResetButton: #9CAFAA;
}

.treino-body {
    background-color: var(--cor-fundo-treino-body);
    margin: 0.5em;
    -webkit-tap-highlight-color: transparent; /* Remove o destaque em dispositivos móveis */
}

.main__treino-blank {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo-main);
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    font-weight: 400;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding-bottom: 1em;
}

::placeholder {
    color: var(--cor-fonte-placeholder);
}

.edit-button {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    font-weight: 600;
    background-color: var(--cor-fundo-botao-editButton);
    color: var(--cor-fonte-botao-editButton);
    border: none;
    width: 50px;
    cursor: pointer;
    margin-left: 1em;
    margin-right: auto;
}

.edit-button-1 {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    font-weight: 600;
    background-color: var(--cor-fundo-botao-editButton);
    color: var(--cor-fonte-botao-editButton);
    border: none;
    width: 50px;
    cursor: pointer;
    margin-left: 1em;
    margin-right: auto;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    background-color: var(--cor-input-checkbox-fundo);
    border: 1px solid var(--cor-input-checkbox-border);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--cor-input-checkbox-fundo-ckecked); /* Cor de fundo quando marcado */
    border: 1px solid var(--cor-input-checkbox-border-ckecked);
}
  
input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 12px;
    color: var(--cor-input-checkbox-check); /* Mudança da cor do check para contraste */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin: 1.5em auto 0.5em auto;
}

.cabecalho-back-to-index {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-1);
    text-decoration: none;
}

/* menu-expImp */
.container__botao-expImp:checked~.lista-menu-expImp { /* condicional "se .container__botao estiver marcado (.container__botao:checked), então (~), .lista-menu aparece (display: block)" */
    display: block;
    max-height: 500px; /* altura final, ajustável conforme o conteúdo */
    opacity: 1; /* opacidade final */
}

.container__botao-expImp {
    display: none;
    position: relative;
}

.cabecalho__menu-hamburguer-expImp {
    font-family: var(--fonte-principal);
    font-size: 1.1em;
    font-weight: 500;
    color: var(--cor-menuExpImp-span);
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.hamburger-expImp {
    font-size: 0.9em;
    display: inline-block; /* Necessário para que a transformação funcione corretamente */
    transform: scale(1.9, 1.4);
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.lista-menu-expImp {
    background-color: var(--cor-menuExpImp-fundo);
    /* display: none; faz desaparecer a lista */
    position: absolute;
    padding: 0.5em 0;
    top: 7%; /* retirou ??% do menu de cima do checkbox */
    width: 170px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    z-index: 1;
    left: 1;
    cursor: pointer;
    max-height: 0; /* altura inicial */
    opacity: 0; /* opacidade inicial */
    overflow: hidden; /* para evitar que o conteúdo fique visível antes da animação */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* animação suave */
}

.lista-menu-expImp__item {
    display: flex;
    align-items: center;
    margin: 0em 0.8em;
    padding: 0.5em 0;
    gap: 10px;
}

.export-whatsapp, .export-excel, .import-excel, .export-json, .import-json, .load-file {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-botoes-menuExp-fonte);
    background-color: var(--cor-botoes-menuExp-fundo);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-wrap: wrap;
}

.import-excel, .import-json {
    color: var(--cor-botoes-menuImp-fonte);
    background-color: var(--cor-botoes-menuImp-fundo);
}

.load-file {
    background-color: var(--cor-botoes-menuEscArq-fundo);
}

.lista__treino-info {
    background-color: var(--cor-fundo-treino-info);
    border-radius: 4px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em 0 1em 0;
    box-shadow: 1px 1px 5px black;
}

.lista__treino-info__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.treino_proximo-anterior {
    display: flex;
    margin: 1em 1.5em 0 25em;
    justify-content: space-between;
}

.semana, .dia {
    text-transform: uppercase;
    display: block;
    background-color: var(--cor-fundo-semana-dia);
    border: none;
    resize: none;
    width: 50px;
    height: 35px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-semana-dia);
    font-weight: 500;
    font-size: 1.8em;
    text-align: center;
    padding: 0;
}

.dia-anterior, .proximo-dia {
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-anteriorProximo);
    font-size: 2.5em;
    cursor: pointer;
}

.titulo-do-treino {
    text-transform: uppercase;
    display: block;
    background-color: var(--cor-fundo-titulo-do-treino);
    border: none;
    resize: none;
    width: 90%;
    height: 40px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-tituloDoTreino);
    font-weight: 600;
    font-size: 1.1em;
    margin: 0.5em 0.5em 0 0.5em;
    padding: 0.5em;
    text-align: center;
}

.treino__obs {
    background-color: var(--cor-fundo-treino-obs);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0.5em 0.5em 0 0.5em; */
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-obsDoTreino);
    width: 90%;
    overflow: hidden;
    resize: none;
}

/* CARD Agrupamento musculares */
.lista__agrupamentosMusculares {
    background-color: var(--cor-fundo-agrupMusc);
    border-radius: 4px;
    margin: 0.5em;
    padding: 0.5em 0 1em 0;
    box-shadow: 1px 1px 5px black;
}

.lista__agrupamentosMusculares__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.labelTitulo-group {
    margin: 1em;
    color: var(--cor-fonte-titulo-agrupMusc);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelTitulo-group .infinit {
    margin-right: 0.5em;
    transition: transform 0.9s ease;
    font-size: 1.5em;
}

.divPrincipal-group {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    justify-content: space-around;
    margin: 1em 1em 0 1em;
    gap: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
}

.lista__agrupamentosMusculares__item.expanded .divPrincipal-group {
    max-height: 500px; /* ajuste conforme necessário */
}

.lista__agrupamentosMusculares__item.expanded .infinit {
    transform: rotate(360deg);
}

.itens-div {
    display: flex;
    background-color: var(--cor-fundo-preenchimento-textoInput);
    align-items: center;
    border: var(--cor-fundo-preenchimento-textoInput-border);
    border-radius: 15px;
}

.itens-div label {
    margin-left: 0.2em;
    font-size: 0.7em;
    color: var(--cor-texto-agrupMusc);
}

input[type="checkbox"].checkbox-group {
    width: 18px;
    height: 18px;
}

input[type="checkbox"].checkbox-group:checked::before {
    content: "✖";
    font-size: 10px;
    color: var(--cor-input-checkbox-check); /* Mudança da cor do check para contraste */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itens-div-oculto {
    display: none;
}

.exercicio-n {
    background-color: var(--cor-fundo-sessao);
    border-radius: 4px;
    margin: 1.1em 0.5em 0.5em 0.5em;
    padding-bottom: 1.1em;
    color: #153448;
    box-shadow: 1px 1px 5px black;
}

.lista__nome-do-exercicio {
    display: flex;
    flex-direction: column;
}

.lista__nome-do-exercicio__item {
    position: relative;
    display: grid;
    grid-template-columns: 5% 88% 6%;
    margin: 1em 0.5em 0em 1em;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu-hamburguer {
    font-size: 1.4em;
    color: var(--cor-menu-hamburguer);
    display: inline-block; /* Necessário para que a transformação funcione corretamente */
    transform: scale(1.7,1.4);
    cursor: pointer;
}

.lista-menu {
    background-color: var(--cor-fundo-menu-exercicio);
    /* display: none; essa opção deve estar inativa para funcionar o menu suave */
    position: absolute;
    padding: 0.5em 0;
    top: 100%; /* retirou ??% do menu de cima do checkbox */
    width: 140px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    z-index: 1;
    right: 0;
    max-height: 0; /* altura inicial */
    opacity: 0; /* opacidade inicial */
    overflow: hidden; /* para evitar que o conteúdo fique visível antes da animação */
    transition: max-height 0.5s ease, opacity 0.7s ease; /* animação suave */
}

.lista-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 0.5em;
    padding: 0.5em 0;
}

.youtube-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-youtube-button);
    border-radius: 5px;
    box-shadow: var(--box-shadow-menu-botoes);
    border: none;
    width: 95%;
    height: 30px;
    cursor: pointer;
}

.clock-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-clock-button);
    border-radius: 5px;
    box-shadow: var(--box-shadow-menu-botoes);
    border: none;
    width: 95%;
    height: 30px;
    cursor: pointer;
}

.color-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: var(--cor-fonte-1);
    background: var(--cor-gradiente-color-button);
    border-radius: 5px;
    box-shadow: var(--box-shadow-menu-botoes);
    border: none;
    width: 95%;
    height: 30px;
    cursor: pointer;
}

.delete-section-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    color: var(--cor-fonte-1);
    background: var(--cor-fundo-delete-button);
    border-radius: 5px;
    box-shadow: var(--box-shadow-menu-botoes);
    border: none;
    width: 95%;
    height: 30px;
    cursor: pointer;
}

.container__botao:checked~.lista-menu { /* condicional "se .container__botao estiver marcado (.container__botao:checked), então (~), .lista-menu aparece (display: block)" */
    display: block;
    max-height: 500px; /* altura final, ajustável conforme o conteúdo */
    opacity: 1; /* opacidade final */
}

.container__botao {
    display: none;
    position: relative;
}

.lista__nome-do-exercicio__numero {
    font-size: 1em;
    color: #153448;
    font-weight: 600;
}

.exercicio__nome {
    text-transform: uppercase;
    display: block;
    background-color: var(--cor-fundo-exercicio);
    border: none;
    box-shadow: none;
    font-family: var(--fonte-principal);
    font-size: 0.9em;
    font-weight: 400;
    color: #153448;
    text-wrap: wrap;
    width: 96%; 
    height: 55px;
    resize: none; /* Impede o redimensionamento do textarea */
    overflow: hidden;
}

/* botões secundarios do card de exercícios */
.lista-secButtons {
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: auto;
    justify-content: space-around;
    margin: 1.5em 1em;
}

.lista-secButtons__ativarDesativar-button {
    font-family: var(--fonte-principal);
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-10);
    border-radius: 4px;
    box-shadow: var(--box-shadow-lista-secButtons);
    border: none;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.infinit2 {
    display: inline-block; /* Necessário para aplicar transformações */
    transition: transform 1s ease;
}

.infinit2:hover {
    transform: rotate(360deg);
}

.lista-secButtons__youtube-button {
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-10);
    border-radius: 4px;
    box-shadow: var(--box-shadow-lista-secButtons);
    border: none;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.lista-secButtons__clock-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    color: var(--cor-fonte-2);
    background-color: var(--paleta-cor-10);
    border-radius: 4px;
    box-shadow: var(--box-shadow-lista-secButtons);
    border: none;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.lista-secButtons__color-button {
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    color: var(--cor-fonte-1);
    background: var(--cor-gradiente-color-button);
    border-radius: 4px;
    box-shadow: var(--box-shadow-lista-secButtons);
    border: none;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.exercicioObs-div {
    display: flex;
    flex-direction: column;
}

.exercicio__obs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.2em;
    background-color: var(--cor-fundo-exercicio-obs);
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    color: #153448;
    width: 90%;
    overflow: hidden;
    resize: none;
}

.lista__primeira-linha {
    display: grid;
    grid-template-columns: 8% 35% 14% 35% 8%;
    margin: 1em 0.5em 0.5em 0.5em;
    text-align: center;
    align-items: center;
}

.select-repetitions,
.select-kg,
.select-rpe {
    background-color: var(--cor-fundo-select);
    text-align: left;
    height: 40px;
    width: 82%;
    text-wrap: wrap;
    padding: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 1px 1px 1px black;
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
}

.select-kg {
    width: 95%;
}

.lista__aquecimento__w {
    color: #F05941;
    font-weight: 600;
}

.lista__segunda-linha__item__numero {
    font-weight: 600;
}

.remove-list-button {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
}

.trash-img {
    width: 13px;
}

.lista__segunda-linha, .lista__aquecimento {
    display: grid;
    grid-template-columns: 8% 35% 14% 35% 8%;
    margin: 0.4em 0.5em;
    align-items: center;
}

.lista__segunda-linha__item, .lista__aquecimento__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista__segunda-linha__input, .lista__aquecimento__input {
    text-align: center;
    width: 35%;
    padding: 0.3em 0.1em;
    border-radius: 4px;
    border: none;
    margin: 0.1em;
    font-family: var(--fonte-principal);
}

.input-reps1, .input-reps2 {
    background-color: var(--cor-fundo-input-reps1);
}

.input-kg {
    width: 90%;
    border: none;
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-kg);
}

.input-rpe1 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe1);
}

.input-rpe2 {
    color: var(--cor-fonte-1);
    background-color: var(--cor-fundo-input-rpe2);
}

.esmaecido {
    opacity: 0.3; /* ou qualquer outro valor que desejar para esmaecer */
}

.set-buttons__item {
    display: flex;
    justify-content: space-around;
    margin: 2em 1em 0.5em 1em;
}

.add-button, .undo-button, .add-w-button {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-botao);
    font-size: 0.8em;
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 90px;
    height: 25px;
    cursor: pointer;
}

.add-w-button {
    background-color: var(--paleta-cor-3);
    color: var(--cor-fonte-1);
}

.session-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1.3em 1em 15em 1em;
    gap: 15px;
}

.new-session-button, .remove-session-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 0.8em;
    color: var(--cor-fonte-botao);
    background-color: var(--cor-fundo-botao);
    border: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    width: 50%;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 1em);
    background-color: var(--cor-fundo-rodape);
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.timer-org {
    display: grid;
    grid-template-columns: 46% 46% 10%;
    text-align: center;
    margin: 0.5em 0;
}

.timer-container {
    display: none;
    text-align: center;
}

.timer-container__item {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-fonte-2);
    background-color: var(--cor-fundo-select);
    width: 43.6%;
    height: 25px;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    border: none;
}

.start-button, .reset-button {
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    color: var(--cor-fonte-2);
    background-color: var(--cor-fundo-startResetButton);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 43.6%;
    height: 25px;
    margin-top: 0.3em;
}

.esc-clock-button {
    display: none;
    font-family: var(--fonte-principal);
    font-size: 0.7em;
    font-weight: 700;
    color: var(--cor-fonte-2);
    background-color: var(--cor-fundo-escClockButton);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 15px;
    height: 15px;
    padding: 0 0 1px 0;
}

.timer {
    display: none;
    font-size: 1.5em;
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-fonte-timer);
    padding-top: 0.6em;
    background-color: var(--cor-fundo-timer);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    height: 38px;
    width: 80%;
    place-self: center;
}

.rodape-back-to-index {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-1);
    text-decoration: none;
    margin-bottom: 1.5em;
}

.sobrescrito {
    color: var(--logoMusclePlan-sobrescrito);
    vertical-align: super;
    font-size: smaller;
    font-weight: 500;
}


@media (min-width: 700px) {
    .cabecalho {
        width: 58%;
        margin: 1.5em auto 0.5em auto;
    }

    .main__treino-blank {
        width: 60%;
        margin: auto;
    }

    .select-repetitions,
    .select-rpe {
        width: 80%;
    }
    
    .select-kg {
        width: 95%;
    }
}

@media (min-width: 1024px) {
    .cabecalho {
        width: 41%;
        margin: 1.5em auto 0.5em auto;
    }

    .main__treino-blank {
        width: 42%;
        margin: auto;
    }

    .select-repetitions,
    .select-rpe {
        width: 80.4%;
    }
    
    .select-kg {
        width: 93%;
    }
}

@media (min-width: 1440px) {
    .cabecalho {
        width: 29%;
        margin: 1.5em auto 0.5em auto;;
    }
    
    .main__treino-blank {
        width: 30%;
        margin: auto;
    }
}

@media (min-width: 1680px) {
    .cabecalho {
        width: 24%;
        margin: 1.5em auto 0.5em auto;
    }
    
    .main__treino-blank {
        width: 25%;
        margin: auto;
    }
}

@media (min-width: 1920px) {
    .cabecalho {
        width: 21.5%;
        margin: 1.5em auto 0.5em auto;
    }
    
    .main__treino-blank {
        width: 22%;
        margin: auto;
    }

    .select-repetitions,
    .select-rpe {
        width: 79%;
    }
    
    .select-kg {
        width: 95%;
    }
}

@media (min-width: 2560px) {
    .cabecalho {
        width: 15.5%;
        margin: 1.5em auto 0.5em auto;
    }
    
    .main__treino-blank {
        width: 16%;
        margin: auto;
    }
}

@media (min-width: 3370px) {
    .cabecalho {
        width: 12%;
        margin: 1.5em auto 0.5em auto;
    }
    
    .main__treino-blank {
        width: 12.5%;
        margin: auto;
    }

    .select-repetitions,
    .select-rpe {
        width: 79%;
    }
    
    .select-kg {
        width: 93%;
    }
}